<!DOCTYPE html>
<html ng-app=stripeApp>
<head>
	<title>stripe test</title>
</head>
<body ng-controller="AppController">
	<h1>STRIPE TEST</h1>
		<ui>
			<li ng-repeat="item in list">
			{{ item.name }}
			<button ng-click="payment($event, item)">pay with stripe</button>			
			</li>
		</ui>
	<h3>Thx 4 pay!!</h3>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script>
		angular.module('stripeApp', [])
		.controller('AppController', ['$scope', 'AppService',function ($scope, AppService) {
			AppService.getList()
				.then(function (ok) {
					$scope.list = ok;
				}, function (err) {
					console.log(err);
				});

			var paymentDetails = { };
			var handler = StripeCheckout.configure({
				  key: 'pk_test_x5UrUcpDMTQcqHosJ78sibQf',
				  locale: 'auto',
				  token: function (token) {
				  	AppService.payment(token, paymentDetails)
					  	.then(function (ok) {
					  		alert(ok.status);
					  	}, function (err) {
					  		alert('err');
					  	})
				  }
				});

			$scope.payment = function (e, item) {
				paymentDetails = {
					name: 'NAME',
					description: 'DESCRIPTION',
					amount: item.amount,
					currency: item.currency,
					shippingAddress: true,
					billingAddress: true
				}
				handler.open(paymentDetails);
				e.preventDefault();
			};

			window.onpopstate = function (event) {
				handler.close();
			}
			
		}])
		.service('AppService', ['$http', '$q', function ($http, $q) {
			return {
				getList: function () {
					var defer = $q.defer();

					$http.get('/list')
						.success(defer.resolve)
						.error(defer.reject);

					return defer.promise;
				},
				payment: function (token, paymentDetails) {
					var defer = $q.defer();

					$http.post('/stripe/charge', { token: token, paymentDetails: paymentDetails })
						.success(defer.resolve)
						.error(defer.reject);

				  	return defer.promise;
				}
			};
		}]);
	</script>
</body>
</html>
